name: Build

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: "0 0 * * 5"

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  plugin_test:
    name: asdf plugin test
    runs-on: macos-latest
    steps:
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v3
        with:
          command: xcodegen --help
